/* <!-- Portfolio  Setup and mobile first--> */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;500;700&display=swap");

* {
  font-family: "Popins", sans-serif;
  padding: 0%;
}

html,
body {
  width: 100vw;
  height: auto;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  height: 44px;
  justify-content: space-between;
  align-items: center;
  padding: 0 24px;
  background-color: white;
  padding-top: 58px;
}

form {
  display: flex;
  flex-direction: column;
}

input[type="text"],
input[type="email"],
textarea {
  border: none;
  font-size: 17px;
  font-weight: 400;
  padding: 15px 38px 15px 16px;
  color: #172b4d;
  border-radius: 8px;
  line-height: 20px;
  width: 100%;
  margin: 20px 0;
}

textarea {
  resize: none;
  height: 170px;
}

.top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  padding: 25px 25px 15px 25px;
  width: 95vw;
  height: auto;
}

.top a {
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
  color: #172b4d;
}

.top #menu {
  display: none;
  position: fixed;
  top: 10%;
  height: 100vh;
  width: 100%;
  overflow: hidden;
  background-color: #6070ff;
  mix-blend-mode: multiply;
  left: 0;
}

.top #menu .nav-item {
  display: block;
  font-size: 32px;
  font-weight: 600;
  line-height: 44px;
  color: white;
  text-decoration: none;
  margin: 40px;
}

.top nav .fa-bars {
  font-size: 20px;
  margin-right: 10px;
  z-index: 999;
  /* background-color: #6070ff; */
}

.background_img {
  background-color: #e5e5e5;
}

.headline {
  background-image: url(Images/header-shapes\ mobile@2x.png);
  background-repeat: no-repeat;
  background-size: 100%;
  background-color: white;
  border-bottom-left-radius: 80px;
  padding: 148px 20px 20px 20px;
}

.logo {
  color: #6070ff;
  font-weight: 700;
  font-size: 20px;
}

.menu {
  width: 18px;
  height: 12px;
  align-items: center;
}

.menu > ul {
  display: none;
}

.media_links {
  display: flex;
  gap: 20px;
  list-style: none;
  font-size: 24px;
  color: #172b4d;
  align-items: center;
}

.More_info {
  width: 80%;
  height: auto;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #172b4d;
  align-items: center;
  font-family: sans-serif;
}

.Name_info {
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  color: #172b4d;
}

.connect {
  color: #6070ff;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  margin-top: 10%;
}

.container {
  width: 100vw;
  height: auto;
  background-color: white;
}

/*  Portfolio setup and mobile */

.secondPart {
  display: grid;
  grid-template: repeat (4, 1fr) /1fr;
  gap: 114px;
  padding: 114px 24px;
  background-color: #e5e5e5;
}

.mainContainer {
  width: 100%;
  height: fit-content;
  background-color: white;
  border: 1px solid #dfe1e6;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 16px 16px 0 16px;
  gap: 12px;
  color: #344563;
  transition: all 1.1s;
}

.mainContainer:hover {
  scale: 1.1;
  cursor: pointer;
}

.info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
}

.snap_s {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.snap_s > img {
  width: 100%;
}

.ddm {
  width: 80%;
  height: auto;
  display: flex;
  font-size: 20px;
  align-items: center;
  justify-content: flex-start;
  gap: 20px;
  margin-bottom: 1rem;
}

.ddb {
  list-style: none;
}

.name {
  font-weight: 700;
  font-size: 32px;
  color: #172b4d;
}

.decription {
  width: 295px;
  font-size: 15px;
}

.job {
  list-style: none;
}

.info_job {
  padding-left: 0;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  display: flex;
  justify-content: flex-start;
  gap: 20px;
}

.linkButtons {
  display: flex;
  padding: 4px 0;
  justify-content: flex-start;
  gap: 5%;
  margin-top: 5%;
  font-size: 15px;
  color: #6070ff;
  border: none;
  border-radius: 8px;
  text-decoration: none;
  margin-bottom: 5%;
}

.link {
  background-color: #ebebff;
  font-size: 12px;
  color: #6070ff;
  border: none;
  border-radius: 8px;
  text-decoration: none;
  cursor: pointer;
  padding: 4px 12px 4px 12px;
}

.link:hover {
  background-color: #a1aaf6;
  font-size: 12px;
  color: #6070ff;
  border: none;
  border-radius: 8px;
  text-decoration: none;
  cursor: pointer;
}

.more {
  size: 20px;
  width: 100px;
  line-height: 24px;
  font-size: 15px;
  padding: 5px;
  color: #396df2;
  border-radius: 4px;
  border: 1px solid #396df2;
  background-color: white;
  margin-top: 5%;
  margin-bottom: 2%;
  cursor: pointer;
}

.more:hover {
  color: white;
  border: 1px solid #396df2;
  background: #4053fc;
  cursor: pointer;
  transition: background-color 0.5s;
}

.more:active {
  background-color: blue;
}

/* Portfolio section about myself */

.entryName {
  height: auto;
  width: 90%;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  color: #172b4d;
  padding-bottom: 3rem;
}

.entry {
  width: 90%;
  height: auto;
  font-size: 20px;
  line-height: 28px;
  color: #344563;
  margin-bottom: 5%;
}

.entry_info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  padding: 20px;
}

.sm_links {
  display: flex;
  justify-content: flex-start;
  gap: 20px;
  list-style: none;
  margin-top: 1rem;
  font-size: 24px;
  align-items: center;
}

.fa {
  color: #505f79;
}

.let_sconnect {
  color: #7f8cff;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  padding-left: 1%;
  margin-top: 10%;
}

.mainContainerAboutmyself {
  box-sizing: border-box;
  width: 100%;
  height: auto;
  border: 1px solid #dfe1e6;
  border-radius: 16px;
  display: flex;
  text-align: center;
  align-items: center;
  padding: 0;
  flex-direction: column;
  justify-content: space-between;
}

.dropdownMenu {
  width: 90%;
  height: auto;
  display: flex;
  flex-direction: column;
  font-size: 30px;
  justify-content: space-between;
  margin: 20px 0;
  list-style: none;
  align-items: center;
}

.frame {
  width: 80%;
  height: auto;
  display: flex;
  font-size: 20px;
  justify-content: flex-start;
  gap: 20px;
  padding: 5% 0;
  border-bottom: 1px solid #dfe1e6;
}

.lng {
  width: 100%;
  height: auto;
  display: flex;
  font-size: 20px;
  align-items: center;
  justify-content: flex-start;
  gap: 20px;
  margin-bottom: 1rem;
}

.dropdownButtons {
  display: flex;
  flex-direction: row;
  gap: 10px;
  height: auto;
}

.buttonLink {
  background: #e5e5e5;
  border-radius: 8px;
  box-sizing: border-box;
  width: 70%;
  display: block;
  padding: 0 10px;
  font-size: 15px;
  align-items: center;
  justify-content: flex-start;
  gap: 20px;
}

.get-in-touch {
  display: flex;
  align-items: center;
  color: #6070ff;
}

.background_image {
  height: auto;
  border-top-left-radius: 80px;
  display: flex;
  flex-direction: column;
  border: 1px solid #dfe1e6;
  justify-content: center;
  align-content: center;
  background-color: #6070ff;
  background-image: url(Images/header-shapes\ mobile@2x.png);
  background-repeat: no-repeat;
  background-position: top right;
  padding: 0%;
  padding: 0 20px;
}

.name_info {
  padding-top: 10%;
  text-align: center;
  color: #ebebff;
  margin: 14px 0;
  font-size: 40px;
  font-weight: 700;
}

.info_plus {
  height: auto;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  color: #ebebff;
  text-align: center;
  margin-bottom: 20%;
  width: 100%;
}

.button-big {
  padding: 15px 20px;
  width: fit-content;
}

.black_line {
  display: flex;
  justify-content: center;
}

.black_line > div {
  width: 134px;
  height: 5px;
  border-radius: 10px;
  background-color: #0d151e;
  margin-top: 32px;
  margin-bottom: 8px;
}

@media screen and (min-width: 800px) {
  * {
    padding: 0%;
    box-sizing: border-box;
  }

  body {
    font-size: 20px;
    line-height: 28px;
  }

  header {
    display: flex;
    height: 44px;
    justify-content: space-between;
    align-items: center;
    padding: 0 24px;
    background-color: white;
    padding-top: 58px;
  }

  .top .fa-bars {
    display: none;
  }

  .top #menu {
    display: flex;
    justify-content: flex-end;
    height: auto;
    position: relative;
    background-color: white;
  }

  .top #menu .nav-item {
    font-size: 15px;
    font-weight: 500;
    line-height: 20px;
    margin-right: 10px;
    color: black;
  }

  .headline {
    background-image: url(Images/Background\ img\ Desktop.png);
    background-size: 100%;
    background-repeat: no-repeat;
    padding-left: 20%;
    align-self: center;
    padding-top: 15%;
    width: 100%;
    border-bottom-left-radius: 120px;
  }

  /* Portfolio project Setup and mobile */

  .secondPart {
    justify-content: center;
    justify-items: center;
    display: grid;
  }

  .mainContainer {
    height: auto;
    border: 1px solid #dfe1e6;
    background-color: white;
    border-radius: 16px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 40px;
    gap: 50px;
    margin: 0 10px;
    width: 150%;
  }

  .mainContainer:nth-child(even) {
    flex-direction: row-reverse;
  }

  .snap_s {
    width: 50%;
  }

  .info {
    width: 50%;
  }

  .decription {
    font-size: 16px;
  }

  .Name_info {
    font-size: 48px;
    line-height: 60px;
  }

  .mainContainerAboutmyself {
    box-sizing: inherit;
    border: 1px solid #dfe1e6;
    display: flex;
    text-align: left;
    align-items: center;
    padding: 142px 185px 0 142px;
    flex-direction: row;
    border-top-right-radius: 120px;
    gap: 40px;
    background-color: white;
    width: 100%;
  }

  .entry_info {
    height: auto;
    padding-bottom: 10%;
  }

  .frame {
    width: 100%;
    height: auto;
    display: flex;
    font-size: 20px;
    justify-content: space-between;
    text-align: center;
    gap: 20px;
    padding: 5% 0;
    border-bottom: 1px solid #dfe1e6;
  }

  .frame > img {
    height: 20px;
  }

  .background_image {
    border-top-left-radius: 120px;
    padding: 142px 260px;
    background-image: url("Images/Header_bg_ContactMe.svg");
    background-size: 100%;
  }

  .inputButons {
    text-align: center;
  }

  .black_line {
    display: none;
  }
}
