/* <!-- Portfolio  Setup and mobile first--> */

* {
  font-family: sans-serif;
  padding: 0%;
  box-sizing: border-box;
  margin: 0%;
}

body {
  width: 100vw;
  height: auto;
}

form {
  width: 100%;
}

input[type="text"],
input[type="email"],
textarea {
  border: none;
  font-size: 17px;
  font-weight: 400;
  padding: 15px 38px 15px 16px;
  color: #172b4d;
  border-radius: 8px;
  line-height: 20px;
  width: 100%;
  margin: 20px 0;
}

textarea {
  resize: none;
  height: 170px;
}

.menu_line {
  width: 35px;
  height: 5px;
  background-color: #6070ff;
  margin: 6px 0;
}

.logo {
  color: #6070ff;
  font-weight: 700;
  font-size: 20px;
}

.media_links {
  display: flex;
  gap: 20px;
  padding-left: 0%;
  list-style: none;
  font-size: 24px;
  color: #172b4d;
  align-items: center;
}

.More_info {
  width: 327px;
  height: 146px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: blue;
}

.Name_info {
  width: 327px;
  height: 150px;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  color: #172b4d;
}

.connect {
  color: #6070ff;
}

.top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 375px;
}

.container {
  max-width: 390px;
  height: 100vh;
  background-image: url(Images/header-shapes\ mobile@2x.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  background-color: white;
}

/*  Portfolio setup and mobile */

.secondPart {
  display: grid;
  grid-template-rows: 4, 1fr;
  row-gap: 5rem;
}

.mainContainer {
  border: 1px solid #dfe1e6;
  border-radius: 16px;
  width: 327px;
  height: 552px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: center;
  padding-left: 10px;
  padding-top: 10px;
}

.ddm {
  width: 80%;
  height: auto;
  display: flex;
  font-size: 20px;
  align-items: center;
  justify-content: flex-start;
  gap: 20px;
  margin-bottom: 1rem;
}

.ddb {
  list-style: none;
}

.snap_s {
  width: 295px;
  height: 220px;
}

.name {
  font-weight: 700;
  font-size: 32px;
  color: #172b4d;
}

.decription {
  width: 295px;
  font-size: 15px;
}

.job {
  list-style: none;
}

.info_job {
  padding-left: 0;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  display: flex;
  justify-content: flex-start;
  gap: 20px;
}

.linkButtons {
  display: flex;
  padding: 4px 0;
  justify-content: flex-start;
  gap: 8px;
}

.link {
  background-color: #ebebff;
  font-size: 12px;
  color: #6070ff;
  border: none;
  border-radius: 8px;
  text-decoration: none;
  cursor: pointer;
  padding: 1% 3%;
}

.link:hover {
  background-color: #a1aaf6;
  font-size: 12px;
  color: #6070ff;
  border: none;
  border-radius: 8px;
  text-decoration: none;
  cursor: pointer;
}

.more {
  size: 20px;
  line-height: 24px;
  font-size: 17px;
  padding: 2% 5%;
  color: white;
  border-radius: 8px;
  border: 1px solid #396df2;
  background-color: #396df2;
  margin-top: 5%;
  margin-bottom: 2%;
  cursor: pointer;
}

.more:hover {
  size: 20px;
  line-height: 24px;
  font-size: 17px;
  padding: 2% 5%;
  color: white;
  border-radius: 8px;
  border: 1px solid #396df2;
  background-color: #a1aaf6;
  margin-top: 5%;
  margin-bottom: 2%;
  cursor: pointer;
}

/* Portfolio section about myself */

.entryName {
  height: auto;
  width: 90%;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  color: #172b4d;
  padding-bottom: 3rem;
}

.entry {
  width: 90%;
  height: auto;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
  margin-bottom: 5%;
}

.sm_links {
  display: flex;
  justify-content: flex-start;
  gap: 20px;
  list-style: none;
  margin-top: 1rem;
  font-size: 24px;
  align-items: center;
}

.fa {
  color: #505f79;
}

.let_sconnect {
  color: #7f8cff;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  padding-left: 1%;
  margin-top: 10%;
}

.mainContainerAboutmyself {
  box-sizing: border-box;
  width: 327px;
  height: auto;
  border: 1px solid #dfe1e6;
  border-radius: 16px;
  display: flex;
  text-align: center;
  align-items: center;
  margin-bottom: 10%;
  padding: 0;
  flex-direction: column;
  justify-content: space-between;
}

.dropdownMenu {
  width: 90%;
  height: auto;
  display: flex;
  flex-direction: column;
  font-size: 30px;
  justify-content: space-between;
  margin: 20px 0;
  list-style: none;
  align-items: center;
}

.frame {
  width: 80%;
  height: auto;
  display: flex;
  font-size: 20px;
  justify-content: flex-start;
  gap: 20px;
  padding: 5% 0;
  border-bottom: 1px solid #dfe1e6;
}

.lng {
  width: 80%;
  height: auto;
  display: flex;
  font-size: 20px;
  align-items: center;
  justify-content: flex-start;
  gap: 20px;
  margin-bottom: 1rem;
}

.dropdownButtons {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 80%;
  height: auto;
}

.buttonLink {
  background: #f7f7f9;
  border-radius: 8px;
  box-sizing: border-box;
  width: 70%;
  height: 66px;
  display: flex;
  font-size: 15px;
  align-items: center;
  justify-content: flex-start;
  gap: 20px;
}

.get-in-touch {
  display: flex;
  align-items: center;
  color: #6070ff;
}

.background_image {
  /* width: 327px; */
  height: auto;
  border-top-left-radius: 80px;
  display: flex;
  flex-direction: column;
  border: 1px solid #dfe1e6;
  justify-content: center;
  align-content: center;
  background-color: #6070ff;
  background-image: url(Images/header-shapes\ mobile@2x.png);
  /* background-size: 100%; */
  background-repeat: no-repeat;
  background-position: top right;
  padding: 0%;
  padding: 0 20px;
}

.name_info {
  padding-top: 10%;
  text-align: center;
  color: #ebebff;
  margin: 10% 0;
  font-size: 40px;
  font-weight: 700;
}

.info_plus {
  width: 70%;
  height: auto;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  color: #ebebff;
  text-align: center;
  margin-bottom: 20%;
  width: 100%;
}

#get {
  width: 130px;
}

.black_line {
  display: flex;
  justify-content: center;
}

.black_line > div {
  width: 134px;
  height: 5px;
  border-radius: 10px;
  background-color: #0d151e;
  margin-top: 32px;
  margin-bottom: 8px;
}
