* {
  padding-left: 1%;
  font-family: sans-serif;
}

.menu_line {
  width: 35px;
  height: 5px;
  background-color: #6070ff;
  margin: 6px 0;
}

.logo {
  color: #6070ff;
  font-weight: 700;
  font-size: 20px;
}

.media_links {
  display: flex;
  justify-content: flex-start;
  gap: 20px;
  padding-left: 0%;
  list-style: none;
  font-size: 24px;
}

.More_info {
  width: 327px;
  height: 146px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
}

.Name_info {
  width: 327px;
  height: 150px;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  color: #172b4d;
}

.connect {
  color: #6070ff;
  font-style: italic;
}

.top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 375px;
}

.my_links {
  margin-top: -1rem;
}

.container {
  max-width: 390px;
  height: 100vh;
  background-image: url(Images/header-shapes\ mobile@2x.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}
